<section class="section-hero">
    <div class="wrapper-hero">
        <div class="content-hero">
            <h1 class="visually-hidden">Make your own real chocolate story!</h1>
            <h2 class="title-hero">Treat yourself or a loved one
            to our finest ingredients for a moment of pure delight!</h2>
            <div>
            <ul class="list-hero-button">
                <li><button type="button" class="button-hero" >Buy now</button></li>
                <li><a href="" class="link-scroll">How it’s made</a></li>
            </ul>
            <ul class="list-hero-scroll">
                <li><p class="">scroll down</p></li>
                <li>
                    <svg class="svg-hero" width="16" height="16">
                    <use href="../img/icons.svg#"></use>
                    </svg>
                </li>
            </ul>
            </div>
        </div>
    </div>
</section>