
<section class="section-hero">
    <div class="container-hero container">
    <div class="wrapper-hero">
        
            <h1 class="visually-hidden">Make your own real chocolate story!</h1>
            <h2 class="title-hero">Treat yourself or a loved one
            to our finest ingredients for a moment of pure delight!</h2>
            <div class="hero-button-container">
            <ul class="list-hero-button">
                <li><button type="button" class="button-hero-modal" >Buy now</button></li>
                <li><a href="" class="link-scroll">How it’s made</a></li>
            </ul>
            
               <a href="" class="hero-svg-scroll"> scroll down
                    <span class="span-svg-hero">
                        <svg class="svg-hero" width="16" height="16">
                        <use href="../img/icons.svg#icon-rr-angle"></use>
                    </svg>
                </span>
                </a>
            </ul>
            </div>
        </div>
    </div>
</section>