
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



.container-hero{
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper-hero{
   
    padding-top: 395px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(/img/hero/bg-hero-mobile.jpg);
    background-color: black;
    border-radius: 30px;
}

.title-hero{

        font-style: normal;
        font-weight: 500;
        /*  */
        max-width: 295px;
        font-size: 20px;
        line-height: 1.20;
        margin-bottom: 32px;

        /*  */
        letter-spacing: 0.03em;
        color: #FFFFFF;
}