.container-section-four {
  position: relative;
}

.section-four-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 32px;
}

.made {
  color: var(--accent-color);
}

.section-four-image {
  margin-bottom: 20px;
  border-radius: 15px;
}

.section-four-background {
  padding: 20px 14px;
  background-color: #fff;
  border-radius: 15px;
}

.section-four-list-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 20px;
}

.section-four-list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.section-four-list-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.section-four-list-item::before {
  display: block;
  content: '';
  margin-right: 8px;
  width: 8px;
  height: 8px;
  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
